#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.oneClover {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.oneCard {
  outline: 1px solid black;
  padding: 7rem;
  position: relative;
  margin: 2rem;
  font-size: 2rem;
  user-select: none;
}

.oneCard div {
  position: absolute;
  padding: 1rem;
  display: grid;
  place-items: center;

}

.oneCard.rot0 {
  transform: rotate(0deg);
}

.oneCard.rot1 {
  transform: rotate(90deg);
}

.oneCard.rot2 {
  transform: rotate(180deg);

}

.oneCard.rot3 {
  transform: rotate(270deg);

}

.oneCard div:nth-child(4n+1) {
  background: red;
  transform: rotate(0deg) translate(0%, -5rem) translate(-50%, -50%);
}

.oneCard div:nth-child(4n+2) {
  background: green;
  transform: rotate(90deg) translate(0, -5rem) translate(-50%, 50%);
  ;
}

.oneCard div:nth-child(4n+3) {
  background: blue;
  color: white;
  transform: rotate(180deg) translate(0, -5rem) translate(50%, 50%);
}


.oneCard div:nth-child(4n+4) {
  background: yellow;
  transform: rotate(270deg) translate(0, -5rem) translate(50%, -50%);
}